

@keyframes bleep{
    0%{
        transform: scale(0.9);
        opacity: 0.2;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pulse {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.8;
    }
}

main{
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    animation: fade-out linear;
    animation-timeline: view(0vw 30vw);
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-bottom: 5vw;
    margin-left: 5vw;
}

.mainLogo{
    opacity: 1;
    font-size: 10vw;
    animation:
        1.5s pulse ease-in-out infinite 7s;
    animation-direction: alternate;
    will-change: transform, opacity;

}

.planets {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    width: 50%;
    height: 100%;

}

.solar-system {
    position: relative;
    width: 60vw;
}

.orbit {
    position: absolute;
    border: 0.3vw solid rgba(255, 255, 255, 0.507);
    border-radius: 50%;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.moon-orb  { width: 50vw; height: 50vw; }
.mars-orb  { width: 75vw; height: 75vw; }

.planet {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 90%;
    transform: translateX(-50%);
    box-shadow: 0 0 5vw rgba(0, 0, 0, 0.781) inset;

}

.earth { 
    width: 25vw; 
    height: 25vw; 
    background-image: linear-gradient(rgb(0, 109, 172), rgb(0, 121, 60));
    transform: translate(-50%, -50%);
}
.moon  { 
    width: 10vw;
    height: 10vw;      
    background-image: linear-gradient(rgb(201, 201, 201), rgb(56, 56, 56));
    left: 3%;
    top: 55%;
}
.mars  { 
    width: 15vw; 
    height: 15vw;
    background-image: linear-gradient(rgb(134, 26, 26), rgb(160, 74, 24));
    left: 1%;
    top: 30%;
}

.planet a{
    width: 100%;
    height: 100%;
}

@keyframes mars-travel {
    0%   { top: 30%; left: 1%; }
    45%  { top: 10%; left: 95%; } /* hits right edge */
    55%  { top: 15%; left: 88%; } /* bounces back slightly */
    100% { top: 30%; left: 1%; }
}

@keyframes moon-spin {
    from { transform: translate(-50%, -50%) rotate(60deg); }
    to   { transform: translate(-50%, -50%) rotate(-25deg); }
}

@keyframes mars-spin {
    from { transform: translate(-50%, -50%) rotate(-33deg); }
    to   { transform: translate(-50%, -50%) rotate(10deg); }
}

.moon-orb  { animation: moon-spin 20s linear infinite; 
        animation-direction: alternate;    
}

.mars-orb {
    animation: mars-spin 30s linear infinite; 
    animation-direction: alternate;
}

