@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

*{
    padding : 0;
    margin : 0;
    color: white;
    font-family: "Anta", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    text-shadow: 0 0 1vw rgb(0, 0, 0);
}

body{
    background-image:url("../img/Back.png");
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 110% ;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

nav{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2vw;
    padding: 2vw 0vw;


}

.logoDiv{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 3vw;
    width: 50%;
}

.logo{
    border-radius: 50%;
    padding: 1vw;
    border: 0.1vw solid white;
    background-color: rgba(0, 0, 0, 0.39);
    width: 5vw;
    height: 5vw;
}

.barDiv{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

@keyframes bleep{
    0%{
        transform:  translate(-50%, -50%) scale(0.9);
        opacity: 0.2;
    }
    100%{
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.mainLogo{
    position: absolute; /* or fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13vw;
    animation: 5s bleep ease forwards;
    animation-direction: alternate;
    will-change: transform, opacity
}



.explore{
    position: absolute; /* or fixed */
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(245, 245, 220, 0);
    font-size: 2vw;
    border: none;
}