@font-face {
    font-family: "Anta";
    src: url('../fonts/Anta-Regular.woff2') format('woff2');
    font-display: swap;
}

*{
    padding : 0;
    margin : 0;
    color: white;
    font-family: "Anta", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    text-shadow: 0 0 1vw rgb(0, 0, 0);
}

body{
    background-image:url("../img/Back.png");
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 110% ;
    min-height: 100vh;
    width: 100%;
}

nav{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2vw;
    height: 15vh;
    z-index: 2;
}

nav a {
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

.logoDiv{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 3vw;
    width: 50%;
}

.logo{
    border-radius: 50%;
    padding: 1vw;
    border: 0.1vw solid white;
    background-color: rgba(0, 0, 0, 0.39);
    width: 5vw;
    height: 5vw;
}

.barDiv{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

@keyframes bleep{
    0%{
        transform: scale(0.9);
        opacity: 0.2;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pulse {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.8;
    }
}


@keyframes fade-out{
    from{
        scale: 1;
        opacity: 1;
    }
    to{
        scale: 0.5;
        opacity: 0;
    }
}

@keyframes fade-in{
    from{
        scale: 0.5;
        opacity: 0;
    }
    to{
        scale: 1;
        opacity: 1;
    }
}
main{
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    animation: fade-out linear;
    animation-timeline: view(0vw 30vw);
}

.mainLogo{
    opacity: 0;
    font-size: 13vw;
}

.mainLogo.visible{
    opacity: 1;
    font-size: 13vw;
    animation: 
        7s bleep ease forwards,
        1.5s pulse ease-in-out infinite 7s;
    animation-direction: alternate;

    will-change: transform, opacity;
}

.explore{
    background-color: rgba(245, 245, 220, 0);
    font-size: 2.5vw;
    border: none;
    margin-top: 5vw;
}

.arrow{
    width: 10vh;
    margin-top: 1vw;
    filter: invert(1) ;
}

.planets {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    animation: fade-in linear;
    animation-timeline: view(50vw 0);
}

.planets h1{
    margin-top: 10vw;
    font-size: 2.5vw;
}

.solar-system {
    position: relative;
    width: 70vw;
    height: 50vw;
}

.orbit {
    position: absolute;
    border: 0.3vw dotted rgb(255, 255, 255);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(75deg);
}

@keyframes spin {
    from { transform: translate(-50%, -50%) rotateX(75deg) rotateZ(0deg); }
    to   { transform: translate(-50%, -50%) rotateX(75deg) rotateZ(360deg); }
}

.earth-orb { width: 30vw; height: 30vw; }
.moon-orb  { width: 50vw; height: 50vw; }
.mars-orb  { width: 70vw; height: 70vw; }

.mars-orb  { animation: spin 30s linear infinite; }
.moon-orb  { animation: spin 12s linear infinite, plane 12s linear infinite}
.earth-orb { animation: spin 12s  linear infinite; }

.planet {
    position: absolute;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.earth { width: 6vw;   height: 23vw; background: #4fa3e0; top: -11.25vw;}
.moon  { width: 4vw;   height: 15.4vw;  background: #aaaaaa; top: -8vw; }
.mars  { width: 5vw; height: 19.2vw;  background: #c1440e; top: -9.6vw; }

.mars-orb  .planet { animation: counter-spin 30s linear infinite; }
.moon-orb  .planet { animation: counter-spin 12s linear infinite, plane 12s linear infinite;}
.earth-orb .planet { animation: counter-spin 12s  linear infinite; }

@keyframes plane{
    0% {z-index: 0;}
    50% {z-index: 1;}
    100% {z-index: 0;}
}

@keyframes counter-spin {
    from { transform: translateX(-20%) rotateZ(0deg);}
    to   { transform: translateX(-20%) rotateZ(-360deg);}
}